// Theme variables
:root {
  // Colours
  --dark: #12161f;
  --dark-2: #0b0f13;
  --grey: #ccc;
  --green: #c8f844;
  --green-2: #acda32;

  // Gradients
  --grad-green: var(--green) linear-gradient(to right, var(--green), var(--green-2));
  --grad-dark: var(--dark) linear-gradient(to right, var(--dark), var(--dark-2));
  --grad-blue: #6fbb97 linear-gradient(313deg, #6fbb97, #85d6d9);
  --grad-bg: #141821 linear-gradient(to right, #141821, #0d1115);
}

// Fonts
@font-face {
  font-display: swap;
  font-family: Metropolis;
  font-weight: 100;
  src: url('/fonts/metropolis/Metropolis-Thin.woff2'), url('/fonts/metropolis/Metropolis-Thin.woff');
}

@font-face {
  font-display: swap;
  font-family: Metropolis;
  font-weight: 200;
  src: url('/fonts/metropolis/Metropolis-ExtraLight.woff2'), url('/fonts/metropolis/Metropolis-ExtraLight.woff');
}

@font-face {
  font-display: swap;
  font-family: Metropolis;
  font-weight: 300;
  src: url('/fonts/metropolis/Metropolis-Light.woff2'), url('/fonts/metropolis/Metropolis-Light.woff');
}

@font-face {
  font-display: swap;
  font-family: Metropolis;
  font-weight: 900;
  src: url('/fonts/metropolis/Metropolis-Black.woff2'), url('/fonts/metropolis/Metropolis-Black.woff');
}

@font-face {
  font-display: swap;
  font-family: Montserrat;
  font-weight: 500;
  src: url('/fonts/montserrat/Montserrat-Medium.woff2'), url('/fonts/montserrat/Montserrat-Medium.woff');
}

// Global selectors and reused elements
body {
    background: var(--grad-bg);
    padding: 40px 40px 0;
}

h2 {
  font-family: Metropolis, Montserrat, Arial, Helvetica, sans-serif;
  font-size: 4.8rem;
  font-weight: 900;
  margin-bottom: 50px;
  text-align: center;
}

p,
a {
  color: #fff;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  margin: 16px;
}

a {
  text-decoration: unset;
}

.fixed-bg {
  background: var(--grad-bg);
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: -1;
}

.fixed-border-top {
  background: var(--grad-bg);
  height: 40px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.fixed-border-bottom {
  background: var(--grad-bg);
  bottom: 0;
  height: 40px;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.fixed-intro {
  height: 100%;
}

.dark {
  h2, p {
    color: var(--dark);
  }
}

.light {
  h2, p {
    color: #fff
  }
}




// Contact section
.contact {
  padding: 10% 13%;

  ul {
    list-style: none;
  }

  li {
    margin: 20px 0;
  }
}

.contactFlex {
  display: flex;
  flex-wrap: wrap;
}

.contactImg {
  object-fit: contain;
}

.contactItem {
  display: flex;

  span {
    margin-right: 10px;
  }
}

.contactImgWrapper {
  margin: auto;
}

.contactDetails {
  margin: auto;

  ul {
    padding: 0;
  }
}

.invert {
  filter: invert(1);
}

.svg {
  filter: invert(1);
  margin-right: 20px;
  padding-bottom: 4px;
  vertical-align: middle;
}

@media (max-width: 600px) {
  #contact {
    padding: 10% 5%;

    a {
      font-size: 0.9rem;
    }
  }
}

// Footer section
.footer {
  background: var(--grad-dark);
  padding-bottom: 70px;

  p {
    color: #777;
    font-size: 1.2rem;
    margin: 0;
    text-align: center;
  }
}