// Theme variables
:root {
  // Colours
  --dark: #12161f;
  --dark-2: #0b0f13;
  --grey: #ccc;
  --green: #c8f844;
  --green-2: #acda32;

  // Gradients
  --grad-green: var(--green) linear-gradient(to right, var(--green), var(--green-2));
  --grad-dark: var(--dark) linear-gradient(to right, var(--dark), var(--dark-2));
  --grad-blue: #6fbb97 linear-gradient(313deg, #6fbb97, #85d6d9);
  --grad-bg: #141821 linear-gradient(to right, #141821, #0d1115);
}

// Fonts
@font-face {
  font-display: swap;
  font-family: Metropolis;
  font-weight: 100;
  src: url('/fonts/metropolis/Metropolis-Thin.woff2'), url('/fonts/metropolis/Metropolis-Thin.woff');
}

@font-face {
  font-display: swap;
  font-family: Metropolis;
  font-weight: 300;
  src: url('/fonts/metropolis/Metropolis-Light.woff2'), url('/fonts/metropolis/Metropolis-Light.woff');
}

@font-face {
  font-display: swap;
  font-family: Metropolis;
  font-weight: 900;
  src: url('/fonts/metropolis/Metropolis-Black.woff2'), url('/fonts/metropolis/Metropolis-Black.woff');
}

@font-face {
  font-display: swap;
  font-family: Montserrat;
  font-weight: 500;
  src: url('/fonts/montserrat/Montserrat-Medium.woff2'), url('/fonts/montserrat/Montserrat-Medium.woff');
}

// Global selectors and index level stuff
body {
    background: var(--grad-bg);
    padding: 40px 40px 0;
}

h2 {
  font-family: Metropolis, Montserrat, Arial, Helvetica, sans-serif;
  font-size: 4.8rem;
  font-weight: 900;
  margin-bottom: 50px;
  text-align: center;
}

p,
a {
  color: #fff;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  margin: 16px;
}

a {
  text-decoration: unset;
}

.fixed-border-top {
  background: var(--grad-bg);
  height: 40px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.fixed-border-bottom {
  background: var(--grad-bg);
  bottom: 0;
  height: 40px;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.fixed-intro {
  height: 100%;
}

.footer {
  background: var(--grad-dark);
  height: 75px;
  position: relative;

  p {
    color: #777;
    font-size: 1.2rem;
    margin: 0;
    text-align: center;
  }
}

// Media queries
@media (max-width: 750px) {
  body {
    padding: 0;
  }

  .fixed-border-top,
  .fixed-border-bottom {
    display: none;
  }

  .intro {
    width: 100%;
  }
}