---
import Favicons from '../components/Favicons.astro'
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<title>Eminence Projectiles Logo Design</title>
    <meta name='description' content='Junior web developer based in Canberra, Australia.' key='description' />
		<Favicons />
	</head>
	<body>
    <div>
      <img src='/images/eplogo.png' />
    </div>
	</body>
</html>

<style lang='scss'>

body, html {
  margin: 0;
  height: 100%;
  background: #141821 linear-gradient(to right, #141821, #0d1115);;
  padding: 0 20px;
}

div {
  display: flex;
  height: 100%;
}

img {
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

</style>