<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href={Astro.resolve('../styles/four-card.css')} >
    <title>Frontend Mentor | Four card feature section</title>

  </head>

  <body>

    <h1>Reliable, efficient delivery<br>
      <strong>Powered by Technology</strong></h1>

    <p class="about">Our Artificial Intelligence powered tools use millions of project data points
      to ensure that your project is successful</p>
    <div class="grid-container">
      <div class="col-1">
        <div class="card card-1">
          <h2>Supervisor</h2>
          <p>Monitors activity to identify project roadblocks</p>
          <img class="card-img" src="/images/four-card/icon-supervisor.svg" alt="supervisor-img">
        </div>
      </div>

      <div class="col-2">
        <div class="card card-2">
          <h2>Team Builder</h2>
          <p>Scans our talent network to create the optimal team for your project</p>
          <img class="card-img" src="/images/four-card/icon-team-builder.svg" alt="team-builder-img">
        </div>

        <div class="card card-3">
          <h2>Karma</h2>
          <p>Regularly evaluates our talent to ensure quality</p>
          <img class="card-img" src="/images/four-card/icon-karma.svg" alt="lightbulb-img">
        </div>
      </div>

      <div class="col-3">
        <div class="card card-4">
          <h2>Calculator</h2>
          <p>Uses data from past projects to provide better delivery estimates</p>
          <img class="card-img" src="/images/four-card/icon-calculator.svg" alt="monitor-img">
        </div>
      </div>
    </div>

    <footer>
      <p class="attribution">
        Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
        Coded by <a href="https://www.jadezak.com">Lachlan Jadezak</a>.
      </p>
    </footer>
  </body>

</html>