---
// Component Imports
import Section from '../components/Section.astro'
import About from '../components/About.astro'
import Favicons from '../components/Favicons.astro'
import Intro from '../components/Intro.astro'
import Tech from '../components/Tech.astro'
import Projects from '../components/Projects.astro'
import Contact from '../components/Contact.astro'

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<title>Lachlan Jadezak | Portfolio</title>
    <meta name='description' content='Junior web developer based in Canberra, Australia.' key='description' />
		<link rel='stylesheet' type='text/css' href={Astro.resolve('../styles/reset.scss')} />
		<link rel='stylesheet' type='text/css' href={Astro.resolve('../styles/index.scss')} />
		<Favicons />
	</head>
	<body>
    <div class='fixed-border-top' />
    <div class='fixed-border-bottom' />
		<div class='fixed-intro'>
		  <Intro />
	  </div>
		<Section text={'dark'} color={'var(--grad-green)'} angled=false>
				<About />
			</Section>
		<Section text={'light'} color={'var(--grad-dark)'}>
			<Tech />
		</Section>
		<Section text={'dark'} color={'var(--grad-green)'} angled=false>
			<Projects />
		</Section>
		<Section text={'light'} color={'var(--grad-dark)'}>
			<Contact />
		</Section>
		<footer class='footer'>
      <p>© 2022 Lachlan Jadezak</p>
    </footer>
	</body>
</html>

<style lang='scss'>

</style>