---
import FlipButton from './FlipButton.astro'
---

<h2>Hi, I'm <b>Lachlan</b></h2>
<div class='two-col'>
  <img class='profile-picture' src='./images/profile.webp' alt='Me playing bass'/>
  <div class='summary'>

    <p>I'm a web developer based in Canberra, doing my best to keep up with and learn the latest
      technologies in the ever evolving world of web development.</p>

    <p>I love writing code and solving interesting problems, but also enjoy the creative side when it comes
    to translating designs to the digital medium of the web. It's the joining of these two which pointed me 
    down the exciting path of web development to learn everything from the humble beginnings of a simple HTML
    and CSS page up to the daunting JavaScript frameworks of the modern web.</p>

    <p>Currently working mostly with Drupal on large public facing websites, every day is an interesting challenge 
    when there's often four different ways to solve a problem, or sometimes a restriction that leads to a very
    out of the box idea being implemented.</p>

    <p>When I'm not working with Drupal you can probably find me brushing up on my JavaScript on codewars, 
    teaching myself a new framework like React, or reading as much as I can about the current frontend landscape.
    There's probably about 50 tabs open in my chrome about something like Jamstack or a new framework. Help.</p>

    <div class='buttons'>
      <FlipButton text={'Resumé'} link={'/resume.pdf'} />
      <FlipButton text={'Contact Me'} link={'#contact'} />
    </div>
  </div>
</div>

<style lang='scss'>

h2 {
  font-family: Metropolis, Montserrat, Arial, Helvetica, sans-serif;
  font-size: 6.4rem;
  font-weight: 100;
  margin: 0 0 80px;
  text-align: center;

  b {
    font-weight: 900;
  }

  &::after {
    animation: blink 1s steps(1, start) infinite;
    background: var(--dark);
    content: '';
    display: inline-block;
    height: 50px;
    margin-bottom: -5px;
    margin-left: 7px;
    opacity: 0;
    width: 3px;
  }
}

.profile-picture {
  background-color: #000;
  border-radius: 20%;
  box-shadow: 0 0 10px black;
  width: 400px;
  height: auto;
}

.two-col {
  align-items: center;
  display: flex;
}

.summary {
  padding-left: 50px;
}

.buttons {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 1600px) {
  .profile-picture {
    max-width: 300px;
  }
}

@media (max-width: 1200px) {
  .two-col {
    flex-direction: column;
  }
  
  .summary {
    padding-left: 0;
  }

  .profile-picture {
    border-radius: 50%;
    margin-bottom: 20px;
    max-width: 200px;
  }

  h2 {
    margin-bottom: 20px;
  }
}

@keyframes blink {
  50% { opacity: 0; }
  100% { opacity: 1; }
}

</style>