---

---

<div id='about'>
  <h2>Hi, I'm <b>Lachlan</b></h2>
  <div class='two-col'>
    <img class='profile-picture' src='./images/profile.jpg' alt='Me playing bass'/>
    <div class='summary'>
      <p>I'm an eager frontend developer based in Canberra, doing my best to keep up with and learn the latest
        technologies in the rapidly advancing world of web development.</p>

      <p>You can probably find me brushing up on my JavaScript skills on codewars, following courses to learn
        new
        skills, or reading as much as I can about the current frontend landscape (someone send help, there's
        like
        50
        chrome tabs open about JavaScript frameworks).</p>

      <p>I have completed a Certificate IV in Programming at Canberra Institute of Technology which has given
        me some experience in working with SQL, C++, Java, and broader programming principles such as those of
        Object
        Oriented Programming. The course also taught a little about project management and development
        methodologies
        such as Agile.</p>

      <p>If I'm not working I'm probably playing some bass guitar, out riding my motorbike or sitting back
        watching the
        MotoGP with an IPA.</p>
      <div className='buttons' style={{marginTop: '40px'}}>
        <!-- <FlipButton text={'Resumé'} url={'/resume.pdf'}/>
        <FlipButton text={'Contact Me'} url={'#contact'}/> -->
      </div>
    </div>
  </div>
</div>

<style lang='scss'>

#about {
overflow-y: auto;
padding: 10% 20%;

  h2 {
    font-family: Metropolis, Montserrat, Arial, Helvetica, sans-serif;
    font-size: 6.4rem;
    font-weight: 100;
    margin: 0 0 80px;
    text-align: center;

    b {
      font-weight: 900;
    }

    &::after {
      animation: blink 1s steps(1, start) infinite;
      background: var(--dark);
      content: '';
      display: inline-block;
      height: 50px;
      margin-bottom: -5px;
      margin-left: 7px;
      opacity: 0;
      width: 3px;
    }
  }

  @keyframes blink {
    50% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

.profile-picture {
  background-color: #000;
  border-radius: 20%;
}
 

.two-col {
  align-items: center;
  display: flex;
}

.buttonWrapper {
  display: inline-block;
  perspective: 500px;
}

a.buttonWrapper {
  color: unset;
  font-size: unset;
  line-height: unset;
}

.button {
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: bold;
  margin: auto;
  text-align: center;
  transform-style: preserve-3d;
  transition: all ease 0.35s;

  .default,
  .hover {
    align-items: center;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
  }

  .default {
    background-color: var(--dark);
    color: #fff;
    transition: background 0.35s ease;
  }

  .hover {
    background-color: #eee;
    color: #2d313a;
    transition: background 0.35s ease;
  }

  &:hover {
    .default {
      background-color: #2d313a;
      color: #eee;
    }

    .hover {
      background-color: #fff;
      color: var(--dark);
    }

    &:hover {
      transform: rotateX(-90deg);
    }

    &:active {
      .hover {
        background-color: #ddd;
        transition: background-color 0.01s linear;
      }
    }
  }
}

.buttons {
  text-align: center;
}

</style>