<h2>Contact Me</h2>
<div class='contact-grid'>
  <ul>
    <li>
      <a class='contactItem' href='mailto:Contact@Jadezak.com'>
        <img src='/images/svg/email.svg' alt='Email icon' />
        <p>Contact@Jadezak.com</p>
      </a>
    </li>
    <li>
      <a class='contactItem' href='https://www.linkedin.com/in/lachlanjadezak/'>
        <img src='/images/svg/linkedin.svg' alt='Linkedin icon' />
        <p>Linkedin</p>
      </a>
    </li>
  </ul>
  <img class='phone' src='/images/phone.webp' alt="A mobile phone" />
</div>

<style lang="scss">

// Contact section
ul {
  list-style: none;
  padding: 0;
  margin: auto;
}

li {
  margin: 20px 0;
  img {
    width: 24px;
    height: 24px;
    margin: auto 0;
  }
}


.contact-grid {
  display: grid;
  gap: 75px;
  grid-template-columns: repeat(auto-fit,minmax(150px,500px));
  justify-content: center;
}

img.phone {
  height: 400px;
  width: 155px;
  transform: rotateZ(20deg);
  margin: auto;
}

.contactItem {
  display: flex;
}

@media (max-width: 600px) {
  #contact {
    padding: 10% 5%;

    a {
      font-size: 0.9rem;
    }
  }
}

@media (max-width: 450px) {
  img.phone {
    height: 350px;
    width: auto;
  }
}

@media (max-width: 350px) {
  img.phone {
    height: 275px;
  }
}

</style>