---
import Project from './Project.astro'
import Tilt from './Tilt.jsx'
import data from '../data/projects.json'
---

<div class='projects'>
  <h2>What I've Been Working On</h2>
  <div class='projects-grid'>
    {data.projects.map((project) => (
      <a href={project.url}>
        <Tilt client:visible>
          <Project title={project.title} body={project.body} image={project.image} />
        </Tilt>
      </a>
    ))}
  </div>
</div>

<style lang="scss">

a {
  margin: 0;
}

.projects {

  :global(.project) {
    background: #232526 linear-gradient(to right, #333, #232526);
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(0 0 0 / 50%);
    height: 450px;
    transform-style: preserve-3d;

    :global(h2) {
      transition: 0.5s;
      color: #fff;
      font-size: 2rem;
      text-align: center;
      margin: 20px;
    }

    :global(p) {
      transition: 0.5s;
      color: var(--grey);
      margin: 20px;
    }

    &:hover {
      :global(h2) {
        transform: translateZ(100px);
      }

      :global(p) {
        transform: translateZ(50px);
      }
    }
  }

  @media (max-width: 800px) {
    :global(.project) {
      height: auto;
      max-width: 300px;
      min-height: 450px;
      width: auto;
    }
  }
}

.projects-grid {
  display: grid;
  gap: 75px;
  grid-template-columns: repeat(auto-fit, minmax(150px,300px));
  justify-content: center;
  max-width: 1050px;
  margin: auto;
}

@media (min-width: 805px) and (max-width: 930px) {
  .projects-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px,250px));
  }
}

</style>
