---
const {variant = 'dark'} = Astro.props
---

<div class={variant}>
  <slot />
</div>

<style lang="scss">

.dark {
  background: var(--grad-dark);
}

.green {
  background: var(--grad-green);
}

</style>