---
const {color = 'var(--grad-dark)', text, angled, id} = Astro.props
const angledClass = angled ? `${text} angled` : text
---

<div id={id} class={angledClass} style=`background: ${color};`>
  <slot />
</div>

<style lang='scss'>

div {
  position: relative;
  margin-top: -100px;
  padding: 200px 20%;

  &:last-child {
    padding-bottom: 100px;
  }
}

.angled {
  clip-path: polygon(0px 0, 100% 100px, 100% 100%, 0px calc(100% - 100px));
}

.light {
  z-index: 1;
  :global(h2), :global(p) {
    color: #fff;
  }
}

.dark {
  z-index: 2;
  :global(h2), :global(p) {
    color: var(--dark);
  }
}

@media (max-width: 1930px) {
  div {
    padding: 200px 15%;
  }
}

@media (max-width: 1300px) {
  div {
    padding: 200px 10%;
  }
}

@media (max-width: 500px) {
  div {
    padding: 200px 5%;
  }
}

</style>