<div class='skills'>
  <h2>Technologies I Use</h2>
  <div class='techIcons'>
    <div class='tech'>
      <img src='/images/svg/astro-color.svg' alt='Astro logo'>
      <p>Astro</p>
    </div>
    <div class='tech'>
      <img src='/images/svg/html-color.svg' alt='HTML5 logo'>
      <p>HTML</p>
    </div>
    <div class='tech'>
      <img src='/images/svg/sass-color.svg' alt='SASS logo'>
      <p>SASS</p>
    </div>
    <div class='tech'>
      <img src='/images/svg/css-color.svg' alt='CSS logo'>
      <p>CSS</p>
    </div>
    <div class='tech'>
      <img src='/images/svg/javascript-color.svg' alt='JavaScript logo'>
      <p>JavaScript</p>
    </div>
    <div class='tech'>
      <img src='/images/svg/drupal-color.svg' alt='Drupal logo'>
      <p>Drupal</p>
    </div>
    <div class='tech'>
      <img src='/images/svg/php-color.svg' alt='PHP logo'>
      <p>PHP</p>
    </div>
    <div class='tech'>
      <img src='/images/composer.webp' alt='Composer logo'>
      <p>Composer</p>
    </div>
    <div class='tech'>
      <img src='/images/svg/docker-color.svg' alt='Docker logo'>
      <p>Docker</p>
    </div>
    <div class='tech'>
      <img src='/images/svg/react-color.svg' alt='React logo'>
      <p>React</p>
    </div>
    <div class='tech'>
      <img src='/images/svg/git-color.svg' alt='Git logo'>
      <p>Git</p>
    </div>
    <div class='tech'>
      <img src='/images/svg/gulp-color.svg' alt='Gulp logo'>
      <p>Gulp</p>
    </div>
    <div class='tech'>
      <img src='/images/svg/npm-color.svg' alt='NPM logo'>
      <p>NPM</p>
    </div>
    <div class='tech'>
      <img src='/images/svg/phpstorm-color.svg' alt='PhpStorm logo'>
      <p>PhpStorm</p>
    </div>
    <div class='tech'>
      <img src='/images/svg/vscode-color.svg' alt='Visual Studio Code logo'>
      <p>VSCode</p>
    </div>
  </div>
</div>

<style lang="scss">

img{
  width: 120px;
  height: 120px;
  filter: drop-shadow(0px 10px 10px black);
  &:hover {
    filter: brightness(2);
  }
}

.techIcons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tech {
  margin: 40px;
  p {
    font-family: Metropolis, Montserrat, Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 900;
  }
}

@media (max-width: 510px) {
  .tech {
    margin: 30px;
  }
}

@media (max-width: 410px) {
  img {
    width: 80px;
    height: 80px;
  }
  .tech {
    margin: 20px;
  }
}

</style>